.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s linear;

    &:hover{
        color: #FFFFFF;
        transform: scale(1.03);
    }
}

.btn--contact{
    margin: 0;
    padding: 12px 24px;
}

.btn--hire{
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;

    margin: 0;
    background-color: #D94100;
    color: #FFFFFF;
    padding: 16px 32px;
    border: none;
}

.btn--view{
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    padding: 16px 32px;
}

.btn--call{
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    color: #FFFFFF;

    margin: 0;
    padding: 16px 32px;
    background-color: #D94100;
    border: none;

}

.btn--submit{
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    color: #FFFFFF;
    background-color: #D94100;
    margin: 0;
    padding: 16px 32px;
    border: none;
}

@include vp-400{
    .btn--contact{
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-decoration: none;
        color: #FFFFFF;

        border: none;
        padding: 6px 12px;
    }

    #reviews{
        display: none;
    }

    .btn--hire{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 16px;
    }

    .btn--view{
        display: none;
        visibility: hidden;
        padding: 8px 16px;
    }

    .btn--call{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 16px;
    }

    .btn--submit{
        padding: 8px 16px;
    }    
}

@include vp-768 {
    .btn--hire{
        margin: 0 auto;
    }
}