.card-work{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 53px;
    margin: 0;
    padding: 15px;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
}

.card-work__img{
    width: 600px;
    height: 600px;
}

.card-work__txt{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.card-work__up{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.card-work__bottom{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #ADADAD;
}

@include vp-400{
    .card-work__img{
        width: 270px;
        height: 270px;
    }

    .card-work{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
}

@include vp-768 {
    .card-work{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
}