.custom-input{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.custom-input__label{
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.custom-input__fieldset{
    width: 445px;
    height: fit-content;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin: 0;
    padding: 7px;
    background-color: #232323;
    color: #FFFFFF;
}

.custom-input__fieldset::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #131118;
    color: #FFFFFF;
}