.find-me{
    margin: 0;
    padding: 176px 0 140px 0;
    background-color: #232323;
}

.find-me__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.find-me__txt{
    margin: 0;
    padding: 0;
    width: 1030px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 300;
    font-size: 115px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;

}

@include vp-400 {
    .find-me{
        padding: 21px 41px;
    }

    .find-me__wrapper{
        gap: 16px;
    }

    .find-me__txt{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        width: fit-content;
    }
}

@include vp-768 {
    .find-me__txt{
        width: fit-content;
    }
}

@include vp-1025 {
    .find-me__txt{
        width: fit-content;
    }
}