.request{
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
}


.request-info{
    display: none;
    margin: 0;
    padding: 5px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 25px;
}

.request-info--active{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}

.request__btn{
    margin: 0 auto;
}