.reviews{
    margin: 0;
    padding: 157px;
    background-color: #1A1A1A;
}

.reviews__titel{
    font-weight: 300;
    font-size: 115px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #FFFFFF;
}