.services{
    margin: 0;
    padding: 157px 0;
    background-color:#1A1A1A;
}

.services__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services__wrapper-full-information{
    display: flex;
    flex-direction: column;
    transition: display 0.5s;
}
.services__titel{
    font-weight: 300;
    font-size: 115px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0 0 16px 0;
    padding: 0;
}

.services-information {
  opacity: 0;
  visibility: hidden;
  background-color: #232323;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px;
  outline: none;
  transition: opacity 0.5s ease, outline 0.5s ease; 

  &:hover {
    outline: 1px solid #ffffff;
  }

  &--active {
    opacity: 1;
    visibility: visible; 
    display: flex;
    flex-direction: column;
  }
}

.services-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    grid-column: 2;
}

.services-item{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: fit-content;
    height: fit-content;
}

.services__information-titel{
    margin: 0 0 25px 0;
    padding: 0;

    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.services__information-description{
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.services__information-base{
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.services__information-advantages{
    margin: auto 0 15px 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.services__information-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services__information-item{
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

@include vp-400{
    .services{
        padding: 21px;
    }

    .services__titel{
        font-weight: 100;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .services__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .services__wrapper-full-information{
        display: none;
    }
}

@include vp-768{
    .services__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .services__wrapper-full-information{
        display: none;
    }
}