.swiper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}